<!DOCTYPE html>
<html>
<head>
  <title>BlogRails-kenams</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="normalize.css.scss">
  <link rel="stylesheet" type="text/css" href="posts_wrapper.css.scss">
  <link rel="stylesheet" type="text/css" href="welcome.css.scss">
  <link rel="stylesheet" type="text/css" href="pygments.css.scss">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Kenams", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<a href="#">Contact</a>
		</nav>
	</header>

<%= yield %>

  <footer id="main_footer">
      <p class="copyright">&copy; 2016 kenams.corp</p>
      <nav>
        <a href="https://au.linkedin.com/in/kenams-keita"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

        <a href="https://github.com/kenams"><i class="fa fa-github" aria-hidden="true"></i></a>

        <a href="https://twitter.com/kenams42"><i class="fa fa-twitter" aria-hidden="true"></i></a>    
     </nav>
  </footer>
</body>
</html>
